body {
  font-family: "Lato";
}

.wd-modules {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}
.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  border: 1px solid #c7cdd1;
  
  margin-bottom: 20px;
  
}

h3.course-name {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.module-button {
  background-color: #FAECEDFF;
  border: 1px solid #c7cdd1; 
  /* border-radius: 3px; */
  margin-left: 10px;
}

.module-header-container {
  /* display: flex; */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 6px;
  padding-left: 12px; 
  background-color: #f5f5f5;
  font-size: 1rem;
  /* flex-wrap: wrap; */
  border-bottom: 1px solid #c7cdd1;
  color: #3d454c;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}


li.list-group-item-outer {
  border-top: 1px solid #c7cdd1;
  border-left: 1px solid #c7cdd1;
  border-right: 1px solid #c7cdd1;
  /* border: none;  */
}

.list-group-item-outer {
  border-top: 1px solid #c7cdd1;
  border-left: 1px solid #c7cdd1;
  border-right: 1px solid #c7cdd1;
  border-bottom: none;
  /* border: none;  */
  margin-bottom: 10px;
  background-color: #ffffff;
  /* border-radius: 8px; */
  overflow: hidden;
}

li.list-group-item-inner {
  border-bottom: 1px solid #c7cdd1;
  border: none;
  /* border-right: none;
  border-left: none; */
  padding: 12px 6px 12px 10px; /* Top, Right, Bottom, Left */
  /* border-radius: 4px; */

}

li.list-group.wd-modules {
  border: none;

}

.expand-icon {
  color: rgb(45, 59, 69);
  position: relative;
  bottom: 2px; /* Adjust this value as needed */
}


ul.list-group {
  border-radius: 0%;
}

.module-button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding: 20px;
}

div.overflow-y-scroll {
  display:  flex;
  flex-grow: 1;
  padding: 0;
  overflow-y: visible !important;
}

select.btn.module-button {
  margin-right: 10px;
}



.module-icons {
  /* Container for icons */
  display: flex;
  align-items: center; 
  position: relative;
  top: 15px;
}

.icon {
  /* Styling for the icons */
  margin-left: 8px; 
}

.check-circle-icon {
  font-size: 18px; 
  margin-right: 20px;
}

.list-group-item {
  display: flex;
  flex-direction: column;
}

.list-group-item input,
.list-group-item textarea {
  margin-bottom: 8px; /* Adjust the margin as needed */
}

.list-group-item button {
  margin-left: 8px; /* Adjust the margin as needed */
}

.stretched-icon {
  transform: scaleY(1.2); /* Adjust the number to control the stretch */
}

/* Buttons */
.btn-flat {
  border-radius: 3px;
  border: none;
  padding: 8px 14px;
  font-size: 1rem;
  /* font-weight: bold; */
  background-color: #f0f0f0;
  /* color: #333; */
  border: 1px solid #ccc;
  font-family: system-ui;
  color: #2d3b45;
}

.d-flex {
  display: flex;
  flex-grow: 1;
}
/* Dropdown */
.dropdown-flat {
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 0;

  font-size: 1rem;
  /* font-weight: bold; */
  background-color: #f0f0f0;
  color: #2d3b45;
  border-radius: 3px;
  /* border: none; */
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>'); */
  background-repeat: no-repeat;
  background-position: right 8px center;
  width: 146.938px;
  /* position: relative;  */
}

.dropdown-flat option {
  display: flex;
  align-items: center;
}

.dropdown-flat .check-circle-icon {
  margin-right: 5px;
}

/* Module button */
.btn-module-add {
  background-color: #d41b2c;
  color: #fff;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 3px;
  border: none;
  font-family: 'Lato' !important;
}

/* Spacing and alignment */
.btn-group-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin-right: 5px;
  padding: 0;
}

.btn-group-row > * {
  margin-right: 4px;
}

.btn-group-row > *:last-child {
  margin-right: 0;
}



.btn-flat#edit, 
.btn-flat#delete {
  border-color: f0f0f0;
}

.plus-icon {
  margin-bottom: 2px;
  margin-right: 2px;
}


/* .dropdown-container {
  display: block;
  align-items: center;
  position: relative;
} */


.dropdown-icon {
  position: absolute;
  top: 40%;
  right: 5px;
  left: 100px;
  transform: rotate(90deg);
  width: 20px;
  height: 13px;
  padding: 0;
  margin: 0;
  /* pointer-events: none; */
}

.modules-container {
  padding-left: 0;
}

.ellipsis-icon{
  padding: 0px;;
  align-items: center;
  color: rgb(45, 59, 69);
  margin-right: 0px;
  height: 22px;
}

.btn-flat#ellipsis-icon {
  padding: 3px 6px;

}


.module-list-container {
  overflow-y: auto;
}
