.home-container {
  display: flex;
  justify-content: space-between;
  flex-grow: inherit;
}

.module-list-container {
  flex-grow: 1;
  margin-right: 50px;
  margin-left: 40px;
}

.status-container {
  width: 270px;
  margin-right: 10px;
}


.vertical-button-container .button-link {
  display: block;
  margin-bottom: 10px;
  margin-right: 5px;
  text-decoration: none;
  background-color: #f5f5f5;
  color: rgb(45, 59, 69);
  text-align: left;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  width: 240px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  font-family: system-ui !important;
}


.vertical-button-container .button-link:hover {
  background-color: #f8f9fa;
}


div.vertical-button-container.right-side {
  flex-direction: column;
  justify-content: flex-end;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  text-align: start;
  padding-right: 10px;
  padding-left: 30px;;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}




