.home-container {
  display: flex;
  justify-content: space-between;
  flex-grow: inherit;
}

.module-list-container {
  flex-grow: 1;
  margin-right: 50px;
  margin-left: 40px;
}

.status-container {
  width: 270px;
  margin-right: 10px;
}

@media (max-width: 1138px) {
  .status-container {
    display: none;
  }

  .module-list-container {
    margin-right: 55px;
    flex-grow: 1;
  }
}