.wd-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 125px;
  margin: 0px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  flex: 0 1 10%;
  margin-right: 40px;
  margin-top: 20px;

}

.wd-navigation li {
  padding-left: 6px;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
  padding-top: 8px;
  padding-bottom: 8px;
}
.wd-navigation li.wd-active {
  border-left: 2px solid #2D3B45;
}
.wd-navigation li.wd-active a {
  color: #2D3B45;
  font-weight: bold;
  font-family: 'Lato';
}
.wd-navigation a {
  color: #b52828;
  font-size: 16px;
  text-decoration: none;
}

.wd-navigation-container {
  display: flex;
  flex-grow: 0;
}